/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/src/AppBundle/Resources/config/vista_manager/*
!/src/AppBundle/Resources/config/vista_manager/.gitkeep
/src/AppBundle/Resources/config/vista_manager/122/*
!/src/AppBundle/Resources/config/vista_manager/122/.gitkeep
/web/image/vista_manager/*
/web/image/vista_manager/.gitkeep
/web/image/vista_manager/122/*
/web/image/vista_manager/122/.gitkeep
