html {
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}

li,ul {
    list-style:none;
    padding: 0px;
    margin: 0px;
}

.border-block {
    border: 4px solid gainsboro;
    padding: 8px 4px 4px 8px;
    margin: 8px 8px 0 8px;
}

.border-block_float {
    padding: 8px 8px 8px 8px;
    margin: 8px 0 0 0px;
    float: left;
    width: 99%;
}

.background-block_float {
    background-color: gainsboro;
    padding: 4px 4px 4px 4px;
    margin: 8px 8px 0 8px;
    float: left;
    box-shadow: 6px 6px rgba(0,0,0,0.4);
}

.title {
    font-size: 12px;
    font-weight: bold;
}

.border-feature {
    border: 4px solid gainsboro;
    margin-bottom: 8px;
}

.li_feature {
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: gainsboro;
}

.li_scenario {
    cursor: pointer;
    margin: 8px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    background-color: gainsboro;
}

.summary_step_passed {
    position: absolute;
    color: white;
    background-color: green;
    padding: 2px 11px;
    border-radius: 4px;
    font-size: 10px;
    right: 280px;
    box-shadow: 2px 2px black;
}

.summary_step_failed {
    position: absolute;
    color: white;
    background-color: red;
    padding: 2px 11px;
    border-radius: 4px;
    font-size: 10px;
    right: 240px;
    box-shadow: 2px 2px black;
}

.summary_step_pending {
    position: absolute;
    color: white;
    background-color: orange;
    padding: 2px 11px;
    border-radius: 4px;
    font-size: 10px;
    right: 200px;
    box-shadow: 2px 2px black;
}

.summary_step_skipped {
    position: absolute;
    color: white;
    background-color: skyblue;
    padding: 2px 11px;
    border-radius: 4px;
    font-size: 10px;
    right: 160px;
    box-shadow: 2px 2px black;
}

.li_step {
    margin: 0px 0px 0px 8px;
    padding: 0px 0px 0px 16px;
    font-size: 12px;
}

.step_name {
    width: 85%;
}

.result_step_passed {
    color: white;
    background-color: green;
    padding: 4px 8px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

.result_step_failed {
    color: white;
    background-color: red;
    padding: 4px 10px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

.result_step_skipped {
    color: white;
    background-color: skyblue;
    padding: 5px 9px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

.result_step_pending {
    color: white;
    background-color: orange;
    padding: 5px 9px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}

.result_step_duration {
    position: absolute;
    right: 10%;
    font-weight: bold;
}

.result_step_screenshot {
    text-align: center;
}

.result_step_err_message {
    padding: 8px 12px;
    margin: 0 16px 16px 60px;
    color: white;
    background-color: black;
    box-shadow: 6px 6px rgba(0,0,0,0.4);
    font-size: 12px;
}

.imag_screenshot {
    background-color: gainsboro;
    padding: 8px;
    box-shadow: 6px 6px rgba(0,0,0,0.4);
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    transition: transform 0.3s linear;
    position: relative;
    z-index: 100;
}

.imag_screenshot:hover {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}

.hide {
    display: none;
}


/* Expand/Collapse ボタン用 */
.button {
    position: relative;
    background-color: gainsboro;
    border-radius: 4px;
    line-height: 52px;
    transition: none;
    box-shadow: 2px 2px 0 black;
    margin: 4px;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
}
.button:hover {
    background-color: #31c8aa;
    box-shadow: 2px 2px #23a188;
}
.button:active {
    top: 3px;
    box-shadow: none;
}


/* ページトップへ戻るボタン用 */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    opacity: 0.8;
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}






